body {
    background-color: #6a0dad69;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    
    color: white;
}

.book-cover {
    width: 400px;
    height: 650px;
    background-color: #6a0dad; 
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.header p {
    font-style: bold;
    font-size: 14px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}

.description {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify;
}

.quote-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-left: 3px solid #fff;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 11px;
}

.author-section {
    background-color: #4b0082;
    padding: 10px;
    border-radius: 5px;
}

.author-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.author-section img {
    width: 120px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}
.author-bio {
    font-size: 10px;
    line-height: 1.3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
}

.price {
    font-weight: bold;
    color: #ffeb3b;
}


